<!DOCTYPE html>
<html>
    <head >
        <meta lang="en">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>

    <body>
    <div class="logo">
        <p><b>Match Score</b><br>
            {{player1_name}} vs {{player2_name}} </p>
    </div>
    <div>
        <table class="scoretable">
            <tr class="player_row">
                <td>{{player1_name}}</td>
                <td>{% if server == 1%} <img src = 'img/tennis_ball.png' width="20" height="20"> {% endif %}</td>
                <td>{{current_game["p1_points"]}}</td>
                {% for set in range(3) %}
                    {% if set < num_sets %}
                        <td>{{sets[set]["p1_points"]}}</td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                {% endfor %}
                {% if not match_is_over %}<td><form method="post" id="pointForm" action="/match-score?uuid={{uuid}}">
                    <input type="submit" class="submit_button" name="player1" value="+" />
                </form></td>{% endif %}
            </tr>
            <tr >
                <td>Player</td>
                <td>Serve</td>
                <td>Game</td>
                <td>Set 1</td>
                <td>Set 2</td>
                <td>Set 3</td>

                {% if not match_is_over %}
                    <td><b>Choose point winner</b></td>
                {% else %}
                    <td><b>
                        {% if player1 == match_winner %}
                            {{player1_name}}
                        {% else %}
                            {{player2_name}}
                        {% endif %} won
                    </b></td>
                {% endif %}

            </tr>
            <tr class="player_row">
                <td>{{player2_name}}</td>
                <td>{% if server == 2%} <img src = 'img/tennis_ball.png' width="20" height="20"> {% endif %}</td>
                <td>{{current_game["p2_points"]}}</td>
                {% for set in range(3) %}
                    {% if set < num_sets %}
                        <td>{{sets[set]["p2_points"]}}</td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                {% endfor %}

                <td>
                    {% if not match_is_over %}
                        <input type="submit" class="submit_button" name="player2" value="+" form="pointForm" />
                    {% else %}
                        <a  href ="/">TO MAIN</a>
                    {% endif %}
                </td>

              </tr>
          </table>
    </div>

    </body>

</html>